<h1>Stupid Coach</h1>

<h2>Your question was:</h2>
<p> <%= @question %> </p>

<h2>The coachs answer is:</h2>
<p> <%= @answer %>

<h3>Not happy with the response?</h3>
<p> <%= link_to "Click here to ask something again", ask_path %></p>
